* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// 去除下划线 点击高亮
@function p2r($size) {
    @return ($size/37.5*1rem);
}

a,
span {
    text-decoration: none; // 点击高亮
    -webkit-tap-highlight-color: transparent;
}

ul,
ol {
    list-style: none;
}

// 输入框
input {
    border: none;
    outline: none;
}

// img 变为块
img {
    display: block;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.clearfix::before,
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

@keyframes xuanzhuang {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(1turn)
    }
}

.xiaoyinfu {
    position: fixed;
    top: p2r(20);
    right: p2r(20);
    z-index: 200;
    width: p2r(30);
    height: p2r(30);
    background: url("../imgs/yinfu.svg") 0 0/100% 100% no-repeat;
    animation: xuanzhuang 1s infinite linear;
}

.swiper-slide {
    width: 100%;
    position: relative;
    
}
.kaitou{
    position: absolute;
    top:-100%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color:  #efdcbe;
    /*background:  url("../imgs/FqHQwOK8ZXyTcXpR6AsjTWNEDGP8.png") 0 0/100% 100% no-repeat;*/
}
.biankuang {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../imgs/FjNisciMiNDax5rTunDXM7JVW5T2.png") 0 0/100% 100% no-repeat;
}

.xiaodian {
    position: absolute;
    top: 2%;
    left: 5%;
    width: 90%;
    height: 96%;
    background: url("../imgs/Frlx54EcLV_9tLU90FVeV5ZIFBTW.png") 0 0/100% 100% no-repeat;
}

.biankuangw {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../imgs/FkZv8N7dMilT8wKthSC0cDMzrKGO.png") 0 0/100% 100% no-repeat;
}

.shang {
    position: absolute;
    top: 4%;
    left: 7.5%;
    width: 85%;
    height: 5%;
    background: url("../imgs/FrZrJDBvQXxet_gIlF2w36mu65O6.png") 0 0/100% 100% no-repeat;
}

.xia {
    position: absolute;
    bottom: 4%;
    left: 7.5%;
    width: 85%;
    height: 5%;
    background: url("../imgs/FiAeMFPuAbJyI7cMe86TikNawhka.png") 0 0/100% 100% no-repeat;
}

.hua {
    position: absolute;
    bottom: 1%;
    width: p2r(300);
    height: p2r(260);
    left: 10%;
    z-index: 10;
    background: url("../imgs/FgajymT3nVHuspQSFN3xA8ZmOKJU.png") 0 0/100% 100% no-repeat;
}
.hua2 {
    position: absolute;
    top: -40%;
    width: p2r(300);
    height: p2r(260);
    left: 3%;
    z-index: 10;
    background: url("../imgs/FgajymT3nVHuspQSFN3xA8ZmOKJU.png") 0 0/100% 100% no-repeat;
}
.yaoqing {
    position: absolute;
    bottom: 17%;
    width: p2r(110);
    height: p2r(36);
    left: 35%;
    z-index: 15;
    background: url("../imgs/FsKJcD1VkNRB_XGBYkF5ScQt_HrR.png") 0 0/100% 100% no-repeat;
}

#one {
    ul {
        position: absolute;
        top: 4%;
        width: 100%;
        li {
            margin: 0 auto p2r(10);
            color: rgb(169, 129, 72);
            font-size: p2r(12);
        }
        li:nth-of-type(1) {
            img {
                margin: 0 auto;
                width: p2r(152);
                height: p2r(22);
            }
        }
        li:nth-of-type(2) {
            span {
                font-size: p2r(12);
            }
        }
         :nth-of-type(4) {
            img {
                margin: p2r(20) auto;
                width: p2r(230);
                height: p2r(320);
            }
        }
    }
}

#two {
    .content {
        position: absolute;
        top: 4%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: rgb(169, 129, 72);
        font-size: p2r(12);
        p {
            margin-top: p2r(15)
        }
        p:nth-of-type(1) {
            font-size: p2r(24);
        }
        p:nth-of-type(2) {
            font-size: p2r(20);
            margin-top: p2r(20)
        }
        img {
            width: p2r(150);
            height: p2r(150);
            margin: p2r(20) auto p2r(30);
        }
    }
}

#three {
    .content {
        position: absolute;
        top: 4%;
        width: 100%;
        color: rgb(169, 129, 72);
        font-size: p2r(12);
        .imgs {
            margin: 0 auto p2r(60);
            height: p2r(230);
            width: 66%;
            display: flex;
            justify-content: space-between;
            position: relative;
           .yingyin1 {
                position: absolute;
                width: p2r(120);
                height: 30%;
                left: 0;
                bottom: 0;
                background-color: rgba(169, 129, 72, 0.1);
            }
            .yingyin2 {
                position: absolute;
                width: p2r(120);
                height: 30%;
                right: 0;
                bottom: 0;
                background-color: rgba(169, 129, 72, 0.1);
            }
            img {
                width: p2r(120);
                height: 100%;
            }
            span {
                position: absolute;
                color: #fff;
                font-size: p2r(16);
                &:nth-of-type(1) {
                    left: 10%;
                    bottom: 15%;
                }
                &:nth-of-type(2) {
                    left: 2%;
                    bottom: 5%;
                }
                &:nth-of-type(3) {
                    right: 10%;
                    bottom: 15%;
                }
                &:nth-of-type(4) {
                    right: 14%;
                    bottom: 5%;
                }
            }
        }
        p {
            margin-bottom: p2r(20);
        }
        p:nth-of-type(1) {
            font-size: p2r(24)
        }
        p:nth-of-type(2) {
            font-size: p2r(20)
        }
    }
}

#four {
    .content {
        position: absolute;
        top: 4%;
        width: 100%;
        color: rgb(169, 129, 72);
        font-size: p2r(12);
        img {
            width: 80%;
            height: 30%;
            margin: 0 auto;
        }
        p {
            font-size: p2r(12);
            margin-bottom: p2r(5);
        }
        p:nth-of-type(1) {
            font-size: p2r(24);
            margin-bottom: p2r(5);
        }
        p:nth-of-type(2) {
            font-size: p2r(20);
            margin-bottom: p2r(5);
        }
        .imgs {
            height: 30%;
            img {
                float: left;
                width: 35%;
                height: 100%;
                margin-top: 0;
                &:nth-of-type(1) {
                    margin-left: 10%;
                    margin-right: 10%;
                }
            }
        }
    }
}

#five {
    .content {
        position: absolute;
        top: 4%;
        width: 100%;
        color: rgb(169, 129, 72);
        font-size: p2r(12);
        p {
            margin-bottom: p2r(5);
        }
        p:nth-of-type(1) {
            font-size: p2r(24)
        }
        p:nth-of-type(2) {
            font-size: p2r(20)
        }
        .imgs {
            margin: 0 auto p2r(20);
            width: 80%;
            img {
                float: left;
            }
            img:nth-of-type(1) {
                width: 100%;
                height: 40%;
                margin-bottom: p2r(15);
            }
            img:nth-of-type(2) {
                width: p2r(100);
                height: p2r(100);
            }
            img:nth-of-type(3) {
                width: p2r(185);
                height: p2r(100);
                margin-left: p2r(15);
            }
        }
        .love {
            width: 80%;
            height: p2r(61);
            margin: 0 auto;
            img {
                float: left;
                width: 50%;
            }
            .haha {
                float: right;
                width: 50%;
                line-height: p2r(24);
                font-size: p2r(12);
            }
        }
    }
}

#six {
    .content {
        position: absolute;
        top: 4%;
        width: 100%;
        color: rgb(169, 129, 72);
        font-size: p2r(14);
        p:nth-of-type(1) {
            font-size: p2r(24);
            margin-bottom: 20px;
        }
        p:nth-of-type(2) {
            font-size: p2r(20);
            margin-bottom: 20px;
        }
        p {
            line-height: p2r(32);
        }
        .imgs {
            position: relative;
            width: 80%;
            height: 50%;
            margin: 0 auto p2r(30);
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            img {
                width: 47.5%;
                height: 45%;
                margin-bottom: 5%;
            }
            .love {
                position: absolute;
                top: p2r(92);
                left: p2r(100);
                width: p2r(100);
                height: p2r(100);
                background-color: #fff;
                transform: rotate(45deg);
                span{
                    display: block;
                    line-height: p2r(100);
                    text-align: center;
                    font-size: p2r(20);
                    transform: rotate(-45deg);
                    color: rgb(169, 129, 72);
                }
            }
        }
    }
}